* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat,sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg,#020b86,#000000);
    display: flex;
    justify-content: center;
}

.schedule {
    margin-top: 10rem;
    margin-bottom: 15rem;
    width: 100%;
    margin-left: 30rem;
    margin-right: 30rem;
    border: 3px solid #fff;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.schedule h2 {
    padding-top: 10px;
    color: #fff;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    color: #fff;
    flex: 1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    background: rgb(114, 3, 240);
    color:black;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 5px;
}

ul li {
    color: #fff;
    margin-left: 35px;
    font-size: 18px;
    padding-bottom: 10px;
    cursor: pointer;
}

ul li.done {
    color: #e2e1e192;
    text-decoration: line-through;
}

ul li span {
    margin-left: 350px;
    padding-left:8px;
    padding-right: 8px;
    font-size: 25px;
    color: white;
    line-height: 40px;
    border-radius: 5px;
}

ul li span:hover {
    background: rgba(54, 54, 54, 0.579);
}
